.admin-dashboard-nav {
    background-color: #7E8EF1 ;
}

.col.admin-dashboard-nav .navbar-brand,
 .nav-item .nav-link{
    color: #EEEEEE;  
}

 .navbar-toggler-icon {
    background-color: #EEEEEE;  
}
