.footer {
    /* margin-top: 40vh; */
    /* background-color: #7E8EF1; */
    background: linear-gradient(270deg, rgb(138, 36, 211), rgb(98, 62, 165), rgb(83, 21, 133));
    color: #EEEEEE;
}

.about-btn, .quicklinks-btn, .contact-btn, .follow-btn, .dev-btn, .policy-btn {
    cursor: pointer;
}