/* HomeNav.css */



.navbar.home-dashboard-nav {
    background: linear-gradient(270deg, rgb(176, 150, 194), rgb(98, 62, 165), rgb(83, 21, 133));
}

.navbar.home-dashboard-nav .navbar-brand,
.navbar.home-dashboard-nav .nav-link {
    color: #EEEEEE;  
}

.navbar.home-dashboard-nav .navbar-toggler-icon {
    background-color: #EEEEEE;  
}


