.user-dashboard-nav {
    /* background-color: #7E8EF1 ; */
    background: linear-gradient(270deg, rgb(176, 150, 194), rgb(98, 62, 165), rgb(83, 21, 133));

}

.row.user-dashboard-nav .navbar-brand,
 .nav-item .nav-link{
    color: #EEEEEE;  
}

 .navbar-toggler-icon {
    background-color: #EEEEEE;  
}
